extends leaderLayout
block Header
    div(id = "header")
        div(class="header container-fluid " style="background-color:  #ff8000;")
            div(class="row justify-content-center")
                div(class="col-auto")
                    h1(id = "headline" class = "p-2") ÖSTRA ALT. NOBEL PRIS
block karusell
    div(class="container w-100")
        div(id="myCarousel", class="carousel slide", data-ride="carousel")
            ol(class="carousel-indicators")
                li(data-target="#myCarousel", data-slide-to="0", class="active")
                li(data-target="#myCarousel", data-slide-to="1")
                li(data-target="#myCarousel", data-slide-to="2")
            div(class="carousel-inner")
                div(class="item active")
                    img(src="images/elon.jpg")
                div(class="item")
                    img(src="images/elon.jpg")
                div(class="item")
                    img(src="images/elon.jpg")
            a(class="left carousel-control", href="#myCarousel" , data-slide="prev")
                span(class="glyphicon glyphicon-chevron-left")
                span(class="sr-only") Previous
            a(class="right carousel-control", href="#myCarousel" , data-slide="next")
                span(class="glyphicon glyphicon-chevron-right")
                span(class="sr-only") Next

block Login
    div(id = "contentt" class = "container-sm mw-75 justify-content-center")
        h1(class="text-center mx-2") Leaderboard
        meta(http-equiv='refresh' content='10')
        img(class = "col-3 border border-primary display-6 pb-0 img-fluid" src = "https://dl.airtable.com/.attachments/36014f6e2f08fa506ead8fa7b55c02b5/05d16d37/bild_2021-11-12_100959.png")
        img(class = "col-3 border border-primary display-6 pb-0 img-fluid" src = "https://dl.airtable.com/.attachments/36014f6e2f08fa506ead8fa7b55c02b5/05d16d37/bild_2021-11-12_100959.png")
        img(class = "col-3 border border-primary display-6 pb-0 img-fluid" src = "https://dl.airtable.com/.attachments/36014f6e2f08fa506ead8fa7b55c02b5/05d16d37/bild_2021-11-12_100959.png")
        img(class = "col-3 border border-primary display-6 pb-0 img-fluid" src = "https://dl.airtable.com/.attachments/36014f6e2f08fa506ead8fa7b55c02b5/05d16d37/bild_2021-11-12_100959.png")
        img(class = "col-3 border border-primary display-6 pb-0 img-fluid" src = "https://dl.airtable.com/.attachments/36014f6e2f08fa506ead8fa7b55c02b5/05d16d37/bild_2021-11-12_100959.png")
        img(class = "col-3 border border-primary display-6 pb-0 img-fluid" src = "https://dl.airtable.com/.attachments/36014f6e2f08fa506ead8fa7b55c02b5/05d16d37/bild_2021-11-12_100959.png")
        img(class = "col-3 border border-primary display-6 pb-0 img-fluid" src = "https://dl.airtable.com/.attachments/36014f6e2f08fa506ead8fa7b55c02b5/05d16d37/bild_2021-11-12_100959.png")
        img(class = "col-3 border border-primary display-6 pb-0 img-fluid" src = "https://dl.airtable.com/.attachments/36014f6e2f08fa506ead8fa7b55c02b5/05d16d37/bild_2021-11-12_100959.png")