extends layout

block Header
    
    div(class="header container-fluid bg-primary")
        div(class="row justify-content-end")
            div(class="col-auto")
                h1(class = "p-2") Login

block Login
    div(class = "container-sm")
        h1(class="text-center p-5") Kategorier
        div(class = "mx-auto contatiner")
            div(class = "row justify-content-center")
                h1(class = "text-center col-12") Fysik
                div(class = "col-3 border border-primary display-6") 
                    img(class="img-fluid" src="/images/7-eleven.png" )
                div(class = "col-3 border border-primary") Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
                
            
       
            
           
        h1 This is loginVote

    
    