extends layout
block Header
    div(class="header container-fluid bg-primary")
        div(class="row justify-content-end")
            div(class="col-auto")
                h1(class = "p-2") Login
                
                

block karusell 


block Login
    break
    div(class="container")
        div(class="card mx-auto")
            div(id="myProgress")
                div(id="myBar") 10%
            break
            button(onclick="progress()" style="width:50px; height: 20px") 



       

//-kategorier
block Nobel
    div(class = "w-75 mx-auto contatiner")
        div(class = "row justify-content-center" )
            h1(class = "text-center col-12 mt-5") Kategori 1
            div(class = " col-sm-3 border border-primary") 
                img(class="img-fluid mt-2" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 
            div(class = " col-sm-3 border border-primary")
                img(class="img-fluid mt-2" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum.  
            div(class = " col-sm-3 border border-primary")
                img(class="img-fluid mt-2" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 
            h1(class = "text-center col-12 mt-5") Kategori 2
        div(class="row justify-content-center")
            div(class = " col-sm-3 border border-primary")
                img(class="img-fluid mt-2" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 
            div(class = " col-sm-3 border border-primary")
                img(class="img-fluid mt-2" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 
            div(class = " col-sm-3 border border-primary")
                img(class="img-fluid mt-2" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 
            h1(class = "text-center col-12 mt-5") Kategori 3
        div(class="row justify-content-center")
            div(class = " col-sm-3 border border-primary")
                img(class="img-fluid mt-4" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 
            div(class = " col-sm-3 border border-primary") 
                img(class="img-fluid mt-4 items-align-center" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 
            div(class = " col-sm-3 border border-primary")
              img(class="img-fluid mt-4 align-items-center " src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe" )
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 
            



    
