extends layout

block Header
    div(class="d-flex bg-secondary")
        h1(class="display-1 justify-content-center") Login
block Login
    div(class = "contatiner")
        div(class = "row")
            div(class = "col-4 border border-primary") Hej
            break
            div(class = "col-4 border border-primary") Hej
            break
            div(class = "col-4 border border-primary") Hej
    h1 This is loginVote

    
    