extends layout

block Header
    div(id = "header")
        div(class="header container-fluid bg-primary")
            div(class="row justify-content-end")
                div(class="col-auto")
                    h1(class = "p-2") Login


block Login
    div(id = "login")
    div(class = "container-sm")
        h1(class="text-center mx-2") Katogorier
        div(id="anka")
        h1(class = "text-center pt-5") Fysik
        div(class = "container")
            div(class = "row justify-content-center")
                
                div(class = "col-3 border border-primary display-6") 
                    img(id = "picture1" class = "img-fluid")
                div(class = "col-9 border border-primary") Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor

                div(class = "col-3 border border-primary display-6") 
                    img(class="img-fluid" src="/images/7-eleven.png" )
                div(class = "col-9 border border-primary") Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor

                div(class = "col-3 border border-primary display-6") 
                    img(class="img-fluid" src="/images/7-eleven.png" )
                div(class = "col-9 border border-primary") Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor


        h1(class = "text-center pt-5") Matte
        div(class = "container")
            div(class = "row justify-content-center")
                div(class = "col-3 border border-primary display-6") 
                    img(class="img-fluid" src="/images/7-eleven.png" )
                div(class = "col-9 border border-primary") Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
                div(class = "col-3 border border-primary display-6") 
                    img(class="img-fluid" src="/images/7-eleven.png" )
                div(class = "col-9 border border-primary") Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
                div(class = "col-3 border border-primary display-6") 
                    img(class="img-fluid" src="/images/7-eleven.png" )
                div(class = "col-9 border border-primary") Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor


        h1(class = "text-center pt-5") Sociala medier
        div(class = "container")
            div(class = "row justify-content-center")
                div(class = "col-3 border border-primary display-6") 
                    img(class="img-fluid" src="/images/7-eleven.png" )
                div(class = "col-9 border border-primary") Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
                div(class = "col-3 border border-primary display-6") 
                    img(class="img-fluid" src="/images/7-eleven.png" )
                div(class = "col-9 border border-primary") Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
                div(class = "col-3 border border-primary display-6") 
                    img(class="img-fluid" src="/images/7-eleven.png" )
                div(class = "col-9 border border-primary") Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
                
            
       
            
           
        h1 This is loginVote

    
    