extends layout
block Header
    div(class="header container-fluid bg-primary")
        div(class="row justify-content-end")
            div(class="col-auto")
                h1(class = "p-2") Login

       

block karusell 
    div(class="container mt-5 " )
        label(style="float:left; margin-right:2%;") Åk 3
        div(class="progress mx-auto", style="height:30px; width: 75%;")
            div(class="progress-bar progress-bar-striped progress-bar-animated", role="progressbar", aria-valuenow="75", aria-valuemin="0",aria-valuemax="100",style="width: 75.6%",) 75%
                
    div(class="container justify-content-center mt-5")
        label(style="float:left; margin-right: 2%") Åk 2
        div(class="progress mx-auto", style="height:30px; width:75%;" )
            div(class="progress-bar progress-bar-striped progress-bar-animated", role="progressbar", aria-valuenow="75", aria-valuemin="0",aria-valuemax="100",style="width: 75%", ) 75%
            
    div(class="container justify-content-center mt-5")
        label(style="float:left; margin-right: 2%") Åk 1
        div(class="progress mx-auto", style="height:30px; width:75%;" )
            div(class="progress-bar progress-bar-striped progress-bar-animated", role="progressbar", aria-valuenow="75", aria-valuemin="0",aria-valuemax="100",style="width: 75%", ) 75%


//-kategorier
block Nobel
    div(class = "w-75 mx-auto contatiner")
        div(class = "row justify-content-center" )
    
            div(class = "row")
                div(class = "col col-test")

            h1(class = "text-center") Kategori 1
            div(class = "col-sm-3 border border-primary") 
                img(class="p-0 img-size align-self-center" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 
            div(class = "col-sm-3 border border-primary")
                img(class="img-fluid mt-2" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum.  
            div(class = "col-sm-3 border border-primary")
                img(class="img-fluid mt-2" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 

            
        div(class="row justify-content-center")
            h1(class = "text-center") Kategori 2
            div(class = "col-sm-3 border border-primary")
                img(class="img-fluid mt-2" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 
            div(class = "col-sm-3 border border-primary")
                img(class="img-fluid mt-2" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 
            div(class = "col-sm-3 border border-primary")
                img(class="img-fluid mt-2" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 

            
        div(class="row justify-content-center")
            h1(class = "text-center") Kategori 3
            div(class = "col-sm-3 border border-primary")
                img(class="img-fluid mt-4" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 
            div(class = "col-sm-3 border border-primary") 
                img(class="img-fluid mt-4 items-align-center" src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 
            div(class = "col-sm-3 border border-primary")
              img(class="img-fluid mt-4 align-items-center " src="/images/coffee.jpg" alt="bild på en kaffekopp med kaffe" )
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, nostrum. Exercitationem facilis. lorem ipsum. 
            



    
