doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/LogIn.js")
    script(src="javascripts/main.js")

  body
    script(src="https://accounts.google.com/gsi/client" async defer)
    block content