extends layout

block content
    h1 This is login
        div(id="g_id_onload" 
          data-client_id="623398996009-sh4vrk42s5ri02ji4g9mokh8maiaroe4.apps.googleusercontent.com" 
          data-callback="handleCredentialResponse")
        
        //- div(class="popup" onclick="myFunction()") Click me to toggle the popup!
        //-   span(class="popuptext" id="myPopup")A Simple Popup!