doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="javascripts/VoteTest.js") 
        script(src="https://accounts.google.com/gsi/client" async defer)
        script(src="javascripts/LogIn.js") 
        title Test
    body
    h1 TESTING VOTE
    div(id='mainVote')
    //- form(id='mainVote')
    div(id="g_id_onload" 
            data-client_id="623398996009-sh4vrk42s5ri02ji4g9mokh8maiaroe4.apps.googleusercontent.com" 
            data-callback="handleCredentialResponse")
            div(class="popup")
                span(class="popuptext" id="myPopup"  )