.border-phat {
    border: 15px solid #ff8000;
    border-radius: 20px;
    color: white;
    /* margin-left: 0px;
    margin-right: 0px; */
    /* padding-bottom: 20px; */
}

.border-phatHome {
    border: 15px solid #ff8000;
    border-radius: 20px;
    color: black;
    overflow: hidden;
    height: 500px;
}

.border-phatHome-hover {
    height: auto;
    border: 15px solid #ff8000;
    border-radius: 20px;
    color: black;
    overflow: hidden;
}

.CategoryCss {
    background-color: white;
    max-width: 80%;
    max-height: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #ff8000;
    border-radius: 20px;
    margin-top: 2em;
}

.ClickMeCss {
    font-size: large;
}

.img-size {
    width: 100%;
    height: 250px;
    /* margin-left: auto;
    margin-right:auto; */
}

.pointer {
    cursor: pointer;
}

.row-hover {
    background-color: rgb(130, 130, 130);
}

.row-hover:hover {
    cursor: pointer;
    background-color: rgb(80, 80, 80);
}

.row-selected {
    background-color: rgb(80, 80, 80);
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 450px;
    background-color: #ffc107;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -450px;
}


/* .popup .popuptext::after {
    content: "";
   
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(197, 241, 0) transparent transparent transparent;
} */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#text-scroll {
    height: 60px;
    overflow: hidden;
    position: relative;
}

#text-scroll h3 {
    font-size: 3em;
    color: black;
    position: absolute;
    width: 400%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: text-scroll 30s linear infinite;
    -webkit-animation: text-scroll 30s linear infinite;
    animation: text-scroll 25s linear infinite;
}


/* Move it (define the animation) */

@-moz-keyframes text-scroll {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes text-scroll {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes text-scroll {
    0% {
        -moz-transform: translateX(100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(100%);
        /* Firefox bug fix */
        transform: translateX(25%);
    }
    100% {
        -moz-transform: translateX(-100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(-100%);
        /* Firefox bug fix */
        transform: translateX(-100%);
    }
}